<% provide :title, "Sign Up" %>
<h1>Sign Up</h1>
<div class="row">
  <div class = "col-md-6 col-md-offset-3">
    <%= form_for @user, url: signup_path do |f| %>
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name %>

       <%= f.label :gender %>
       <%= f.select :gender, User.gender_types %>

      <%= f.label :birthday %>
      <%= f.date_select :birthday, {order: [:month, :day, :year],
         prompt: {day: "Select day", month: "Select month", year: "Select year"},
         start_year: Date.today.year, end_year: Date.today.year - 100},
          {required: true} %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
